<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NO.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,470},{38,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{38,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>OK.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,452},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>乒乓.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,286},{52,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>亲亲.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,406},{48,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>便便.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{46,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>偷笑.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,202},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>傲慢.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{50,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>再见.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,54},{50,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>冷汗.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,158},{50,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>凋谢.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,118},{54,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>刀.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,282},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{38,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>勾引.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,470},{50,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{50,38}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>发呆.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,154},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>可怜.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,106},{48,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>可爱.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,106},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>右哼哼.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,158},{48,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>吐.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,152},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>吓.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,102},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>呲牙.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,402},{50,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{50,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>咒骂.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,402},{48,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>咖啡.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>啤酒.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,210},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>嘘....png</key>
            <dict>
                <key>frame</key>
                <string>{{410,102},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>困.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,356},{48,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>坏笑.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,352},{48,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>大兵.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,174},{52,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>大哭.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{50,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>太阳.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,232},{52,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>奋斗.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,262},{48,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>委屈.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,52},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>害羞.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{50,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>尴尬.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,418},{50,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>左哼哼.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,54},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>差劲.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,340},{40,52}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{40,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>弱.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,306},{48,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>得意.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,366},{50,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>微笑.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,302},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>心碎.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{56,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>惊吓.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{52,52}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>惊恐.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,314},{50,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>惊讶.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{50,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>愤怒.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,214},{50,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>憨笑.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,422},{48,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>打哈欠.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,370},{48,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>抓狂.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,54},{50,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>折磨.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,106},{50,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>抠鼻.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,162},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>抱拳.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,344},{52,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>拥抱.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{48,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{48,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>握手.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,452},{52,42}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{52,42}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>握拳.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{48,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>撇嘴.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,158},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>擦汗.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,110},{50,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>敲.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,210},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>无辜.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,176},{54,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>晕.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,256},{48,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>月亮.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,290},{52,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{52,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>桃花.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,262},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>流汗.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,418},{50,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>流泪.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,318},{48,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>炸弹.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{54,44}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{54,44}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>爱你.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,366},{50,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>爱心.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{54,48}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{54,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>猪头.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{50,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>玫瑰.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,474},{26,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{26,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>瓢虫.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,314},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>疑问.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{54,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>白眼.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{48,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>睡.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>示爱.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,394},{52,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{52,36}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>礼物.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,398},{48,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{48,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>篮球.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,54},{48,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>糗大了.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,58},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>胜利.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,228},{42,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{42,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>菜刀.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,456},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{52,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>蛋糕.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,58},{48,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{48,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>西瓜.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,344},{48,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>调皮.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,252},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>赞.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,106},{48,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>足球.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,158},{48,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>鄙视.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,446},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>酷.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,54},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>闪电.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>闭嘴.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,210},{48,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>阴险.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,266},{48,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>难过.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,106},{48,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>饥饿.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,206},{48,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>饭.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>骷髅.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,394},{50,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>鼓掌.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,448},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>faceAll.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9409365b72b7f9051b3f0a8502e10db$</string>
            <key>textureFileName</key>
            <string>faceAll.png</string>
        </dict>
    </dict>
</plist>
